# Arquivos de compilação e dependências do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Arquivos de configuração do Eclipse
.classpath
.project
.settings/

# Arquivos de configuração do IntelliJ IDEA
.idea/

# Arquivos de configuração do Visual Studio Code
.vscode/

# Logs e arquivos temporários
*.log
*.log.*
*.tmp

# Arquivos de configuração
application.properties
application.yml

# Arquivos gerados pelo Spring Boot DevTools
spring-boot-devtools.properties

# Arquivos de registro
log/
logs/

# Arquivos de compilação do Gradle (caso você mude para o Gradle no futuro)
build/
gradle/
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db



